.detail{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #fff;
	z-index: $z-detail;

	&__container{
	}

	&__cover{
		position: relative;
		width: 100%;
		height: 300px;
		overflow: hidden;
	}

	&__cover-close{
		position: absolute;
		right: 8px;
		top: 8px;
		color: #fff;
		z-index: $z-detail-cover-close;
	}

	&__cover-image{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	&__cover-filter{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.3;
	}

	&__cover-text{
		position: absolute;
		left: 8px;
		bottom: 8px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		z-index: $z-detail-cover-text;
		@media screen and (min-width: $break-small){
			font-size: 20px;
		}
	}

	&__discussion{
		width: 100%;
		padding: 8px;
		margin: 20px auto;

		@media screen and (min-width: $break-small){
			width: 80%;
		}

		@media screen and (min-width: $break-medium){
			width: 50%;
		}
	}

	&__discussion-title{
		display: flex;

		h2{
			flex: 1;
		}
	}

	&__comment{
		display: flex;
		margin: 20px 0 0 0;
	}

	&__comment-image{
		width: 32px;
		height: 32px;
		flex: 0 0 32px;
		border-radius: 100%;
		overflow: hidden;

		img{
			width: 100%;
		}
	}

	&__comment-text{
		flex: 1;
		margin-left: 20px;
		@media screen and (min-width: $break-small){
			font-size: 18px;
		}
	}

	&__comment-author{
		color: $text-light;
		margin: 0 0 10px 0;

		b{
			color: #000;
		}
	}

	&__child-comment{
		display: flex;
		margin: 20px 0 0 0;
	}

}