<md-toolbar>
    <div class="toolbar md-toolbar-tools">
        <md-button class="toolbar__menu-icon md-icon-button" data-ng-click="toolbarVm.openDrawer()" aria-label="Menu" hide-gt-xs>
            <md-icon class="toolbar__menu-icon">menu</md-icon>
        </md-button>
        <h2>
            <span>{{toolbarVm.title}}</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="toolbarVm.openOverflowMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin>account_circle</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">Login</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>